/*TODO: Превратить это в styled-components*/
.root {
  overflow-x: hidden;
}
.block {
  padding: 10px;
  width: inherit;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 3px;
}
.react-grid-item > .overlay {
  display: none;
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  top: 0;
  left: 0;
  z-index: 2;
  cursor: move;
}
.react-grid-item > .overlay.active {
  display: block;
  border: 1px solid blue!important;
  /*add these styles when editor is init-ed*/
  /*cursor: unset;*/
  /*z-index: 0;*/
}
.react-grid-item:hover .overlay {
  display: block;
  background-color: #00adff08;
  border: 1px solid #00adff1f;
}
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
  background-color: transparent;
  display: flex;
  overflow: hidden;
}
.react-grid-item.active:hover .overlay {
  background-color: transparent;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
  z-index: 2;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}
